<div class="navigation">
  <ul>
    <li>
      <a routerLink="/dashboard">
        <span class="title" style="font-weight: Bold">
          Gulf
          <span class="resttitle">United Consulting</span>
        </span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Home Page</span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/addFunction" routerLinkActive="active">
        <span class="icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </span>
        <span class="title">Function Settings</span>
      </a>
    </li>

    <li>
      <a routerLink="/setting" routerLinkActive="active">
        <span class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </span>
        <span class="title"> Settings</span>
      </a>
    </li>

    <li>
      <!-- <button class="link-buttonn" (click)="logOut()"> -->
        <a routerLink="/login" routerLinkActive="active" (click)="logOut()">
          <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="title">Sign Out</span>
        </a>
      <!-- </button> -->
    </li>
  </ul>
</div>