<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form
        [formGroup]="signInParentForm"
        (ngSubmit)="userlogin()"
        action="#"
        class="sign-in-form"
      >
        <div formGroupName="userSignIn">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"style="margin: auto;"></i>
            <input
              type="text"
              formControlName="email"
              placeholder="Email"
              id="Username"
              name="email"
            />
          </div>
          <div class="input-field">
            <i class="fas fa-lock "style="margin: auto;"></i>
            <input
              type="password"
              formControlName="password"
              placeholder="Password"
              id="password"
              name="password"
            />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </form>
      <!--<form [formGroup]="signUpParentForm" action="#" class="sign-up-form" (ngSubmit)="submitSignUp()">
              <div formGroupName = "user">
              <h2 class="title">Sign up</h2>

              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input formControlName="email" type="email" placeholder="Email" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input formControlName="password" type="password" placeholder="Password" />
              </div>
              <button type="submit" class="btn" > Sign up </button>
              <p class="social-text">Or Sign up with social platforms</p>
              <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            </form>-->
      <form [formGroup]="signUpParentForm" action="#" class="sign-up-form">
        <div formGroupName="user">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-envelope" style="margin: auto;"></i>
            <input formControlName="email" type="email" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock" style="margin: auto;"></i>
            <input
              formControlName="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn" (click)="submitSignUp()">
            Sign up
          </button>
          <p class="social-text">Or Sign up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
          GUC is a leading technology company that offers a wide range of innovative 
          solutions to meet various business needs. 
          With a strong focus on cutting-edge technology and exceptional service
        </p>
        <button class="btn transparent" id="sign-up-btn">Sign up</button>
      </div>
      <img src="./assets/log.svg" class="image" alt="tst1" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          As a tech company, GUC specializes in providing multiple solutions tailored to the specific requirements of businesses.
           These solutions encompass areas such as software development, 
           web development, mobile app development, cloud computing, data analytics, and more.


        </p>
        <button class="btn transparent" id="sign-in-btn">Sign in</button>
      </div>
      <img src="./assets/register.svg" class="image" alt="tst" />
    </div>
  </div>
</div>

<!-- <script src="my-app\src\assets\app.js"></script> -->
<!-- <script type="text/javascript">
        const sign_in_btn = document.querySelector("#sign-in-btn");
const sign_up_btn = document.querySelector("#sign-up-btn");
const container = document.querySelector(".container");

sign_up_btn.addEventListener("click", () => {
  container.classList.add("sign-up-mode");
});

sign_in_btn.addEventListener("click", () => {
  container.classList.remove("sign-up-mode");
});

      </script>  -->
