<!-- =============== Navigation ================ -->
<div class="root">
  <div class="container">
    <div>
      <app-side-bar></app-side-bar>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="test">
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="user">
            <img src="assets/imgs/customer01.jpg" alt="" />
          </div>
        </div>

        <!-- ======================= Cards ================== -->

        <div id="containerAnimation" class="container-bottom-to-up">
          <p class="top-to-bottom">WELCOME TO GUC</p>
        </div>

        <div class="details">
          <div class="recentOrders">
            <form action="#" method="post" [formGroup]="functionForm">
              <h1>ADD Function Details</h1>

              <fieldset>
                <legend>
                  <span class="number">1</span> Basic Function details
                </legend>

                <label for="name">Function Name:</label>
                <input
                  type="text"
                  id="name"
                  name="user_name"
                  formControlName="problem_name"
                  required
                />

                <label for="name">Note description:</label>
                <input
                  type="text"
                  id="mail"
                  name="user_email"
                  formControlName="investigate_Notes"
                  required
                />

                <label for="name">Suggagtion section:</label>
                <textarea
                  name="name"
                  id="name"
                  cols="30"
                  rows="2"
                  formControlName="investigate_recommendation"
                  required
                ></textarea>
              </fieldset>
              <fieldset formArrayName="topicData">
                <legend><span class="number">2</span> Topic Issue</legend>
                <div
                  *ngFor="let topic of topicData().controls; let i = index"
                  [formGroupName]="i"
                >
                  <label for="job">Topic:</label>
                  <select
                    id="job"
                    name="user_job"
                    formControlName="info_ID"
                    #auditInfo
                    (change)="onSelectAudit(auditInfo.value)"
                    required
                  >
                    <option
                      *ngFor="let topicOption of topics"
                      [value]="topicOption.info_ID"
                    >
                      {{ topicOption.info_Name }}
                    </option>
                  </select>

                  <label for="bio">Description Issue:</label>
                  <textarea
                    id="bio"
                    name="user_bio"
                    cols="30"
                    rows="5"
                    formControlName="desc"
                    required
                  ></textarea>
                </div>
                <div class="myaddmore">
                  <button class="addmore" (click)="addTopic()">Add More</button>
                </div>
              </fieldset>
              <!-- routerLink="/viewfunction/{{issue.topic_id}} -->
              <button
                class="addbtn"
                type="submit"
                (click)="submitInsertFunction()"  >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
